@page "/fordele"

<PageTitle>Fordele for medarbejdere</PageTitle>

<div class="text-center">
    <h1>Fordele for medarbejdere på festivalen 2022</h1>
    <br />  <br />
    For alle medarbejdere på festivalen vil der hver dag efter endt vagt være en gratis drink bestående af:
    <br />
    - 75cl øl
    <br />
    - 75cl Gin Hass, Mojoto eller Isbjørn
    <br />
    - Valgfri sodavand
    <br />  <br />
    Alle medarbejdere på festivalen vil også have adgang til den eksklusive personalebar hvor der kun er adgang for medarbejdere af festivalen.
    Medarbejdere vil man kunne gå ind på for at have mindre kø og bedre priser hvad der er på alle de andre barer ude på pladsen.
    <br />  <br />
    Man vil som medarbejder også have mulighed for at stille sit telt op på medarbejdercampen hele 2 dage før alle de andre gæster.
    <br />  <br />
    Efter festivalen vil der blive afholdt en medarbejderfest hvor vi vil feste og fejre en god afholdt festival.

</div>