<!-- Lille component der bruges til at gøre opmærksom på brugerens id til login -->
<div class="alert alert-secondary mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>Din Brugerid er: @Id <br /> Husk at gemme den til at logge ind!</strong>
</div>

@code {
    [Parameter]
    public int Id { get; set; }
}
