@page "/info"
<!-- Stor bunke html til at opfylde et krav og give lidt rollespil til lærerne -->
<PageTitle>Infomationside</PageTitle>

<div class="text-left">
    <h1>Information for medarbejdere på festivalen</h1>

    For medarbejdere som arbejder under festivalen er det vigtigt at man ved at der er dresscode, alle medarbejdere skal bære deres givne helpertrøjer på deres stationer.
    <br /><br />
    Der vil på følgende tidspunkter være p-mad som er gratis for medarbejdere
    <br />
    - kl. 08-09 (morgenmad)
    <br />
    - kl. 15-16 (frokost)
    <br />
    - kl. 19-20.30 (aftensmad)
    <br /><br />
    Hvis man er syg og derfor ikke kan møde op til sin vagt skal man melde sig syg til sin koordinator senest kl.08 om morgenen.
    <br /><br />
</div>

<div class="text-center">
    <table class="table">
        <h1>Musikprogram</h1>

        <thead>
            <tr>
                <th>Dato</th>
                <th>Kunstner</th>
                <th>Scene</th>
                <th>Tidspunkt</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>6/10</td>
                <td>Joey Moe <br /> DDH <br /> Burhan G <br /> Rihanna</td>
                <td>Lyserød scene <br /> Lyserød scene<br />Lyserød scene<br />Lyserød scene</td>
                <td>KL: 15<br />KL: 18:00<br /> KL: 20:00<br />KL: 22:00</td>
            </tr>
            <tr>
                <td>7/10</td>
                <td>Rasmus Seebach<br />Gilli<br />Emil Stabil<br />Justin Bieber </td>
                <td>Lyserød scene<br /> Lyserød scene<br /> Lyserød scene<br />Lyserød scene</td>
                <td>KL: 15<br />KL: 18:00<br /> KL: 20:00<br />KL: 22:00</td>
            </tr>
            <tr>
                <td>8/10</td>
                <td>Katy Perry<br />Kendrick Lamar<br />Branco<br />Thomas Helmig</td>
                <td>Lyserød scene<br /> Lyserød scene<br /> Lyserød scene<br />Lyserød scene</td>
                <td>KL: 15:00<br />KL: 18:00<br /> KL: 20:00<br />KL: 22:00</td>
            </tr>
            <tr>
                <td>9/10</td>
                <td>Nik&Jay<br />Chris Burton<br />Olivver<br />Babou</td>
                <td>Lyserød scene<br /> Lyserød scene<br /> Lyserød scene<br />Lyserød scene</td>
                <td>KL: 15:00<br />KL: 18:00<br /> KL: 20:00<br />KL: 22:00</td>
            </tr>
        </tbody>
    </table>
</div>