@page "/info"
<style>
    body {
        background-color: rgb(255,248,220);
    }
</style>
<PageTitle>Infomationside</PageTitle>

<div class="text-center">
    <h1>Information for medarbejdere på festivalen</h1>

    For medarbejdere som arbejder under festivalen er det vigtigt at man ved at der er dresscode, alle medarbejdere skal bære deres givne helpertrøjer på deres stationer.
    <br /><br />
    Der vil på følgende tidspunkter være p-mad som er gratis for medarbejdere
    <br />
    - kl. 08-09 (morgenmad)
    <br />
    - kl. 15-16 (frokost)
    <br />
    - kl. 19-20.30 (aftensmad)
    <br /><br />
    Hvis man er syg og derfor ikke kan møde op til sin vagt skal man melde sig syg til sin koordinator senest kl.08 om morgenen.
    <br /><br />
    Numrene på koordinatorene er følgende:
    <br />
    - Kasper: 28592024
    <br />
    - Magnus: 69604021
    <br />
    - Julie: 29505040
    <br />
    - Tobias: 70708920
    <br />
    - Thomas H: 31316062
    <br />
    - Thomas C:52536061
    <br /> <br />
    <table class="table">
        <div class="text-center">
            <h1>Musikprogram</h1>
        </div>
        <thead>
            <tr>
                <th>Dato</th>
                <th>Kunstner</th>
                <th>Scene</th>
                <th>Tidspunkt</th>

            </tr>
        </thead>
        <tbody>
        <th>6/10</th>
        <th>Joey Moe <br /> DDH <br /> Burhan G <br /> Rihanna</th>
        <th>Lyserød scene <br /> Lyserød scene<br />Lyserød scene<br />Lyserød scene</th>
        <th>KL: 15<br />KL: 18<br /> KL: 20<br />KL: 22</th>
        </tbody>
        <tbody>
        <th>7/10</th>
        <th>Rasmus Seebach<br />Gilli<br />Emil Stabil<br />Justin Bieber </th>
        <th>Lyserød scene<br /> Lyserød scene<br /> Lyserød scene<br />Lyserød scene</th>
        <th>KL: 15<br />KL: 18<br /> KL: 20<br />KL: 22</th>
        </tbody>
        <tbody>
        <th>8/10</th>
        <th>Katy Perry<br />Kendrick Lamar<br />Branco<br />Thomas Helmig</th>
        <th>Lyserød scene<br /> Lyserød scene<br /> Lyserød scene<br />Lyserød scene</th>
        <th>KL: 15<br />KL: 18<br /> KL: 20<br />KL: 22</th>
        </tbody>
        <tbody>
        <th>9/10</th>
        <th>Nik&Jay<br />Chris Burton<br />Olivver<br />Babou</th>
        <th>Lyserød scene<br /> Lyserød scene<br /> Lyserød scene<br />Lyserød scene</th>
        <th>KL: 15<br />KL: 18<br /> KL: 20<br />KL: 22</th>
        </tbody>
        <div />
    </table>

</div>