@using FestivalVolunteer.Shared.Models;

@page "/kalender"

<style>
    body {
        background-color: rgb(255,255,255);
    }
</style>
<div class="text-center">
    <h1>Kalenderoversigt</h1>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Dato</th>
            <th>Arbejdende</th>
            <th>Vagt</th>
            <th>Område</th>
            <th>Tidspunkt</th>

        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<!-- @objekt.data er syntaxen f.eks. @shift.data -->

@code{
    public User user = new User();
    public Shift shift = new Shift();

    protected async void OnInitializedAsync()
    {
        user.RoleId = 0;
        user.TeamId = 0;
        user.Name = "Tobias";
        DateTime birthday = DateTime.Now.Date;
        user.Birthday = birthday;
        user.Email = "johntest@gmail.com";
        user.Experience = "yes";
        user.IsActive = true;

        shift.ShiftId = 1;
        shift.StartTime = DateTime.Now;
        shift.EndTime = DateTime.Now;
        shift.Name = "Toiletrens";
        shift.Area = "Rengøring";
        shift.VolunteersNeeded = 3;
        shift.Priority = 5;
        shift.Locked = false;
    }
}