@page "/"

<PageTitle>Velkommen Til Musikfestivalen</PageTitle>

<div class="text-center">
    <h1>Musikfestival</h1>

    Velkommen til Musikfestival hjemmeside for medarbejdere
    <br /><br /><br />

    <br />
    For at logge ind på din personalebruger eller registrere dig bedes du gå til "Bruger" siden 
    <br />
    For at tjekke op på dine vagter kan du gå til "Mine Vagter", du kan også gå til kalender for at se hvem du skal arbejde sammen med og hvem der arbejder på de givne dage
    <br />
    Som medarbejder på Starfest har du forskellige fordele som du kan gøre brug af i løbet af festivalen, for at læse op på hvilke fordele du har kan du til fordele-siden
    <br />
    For informationer omkring sygdom, program osv. kan du gå til Info siden og finde alt hvad du har brug for af informationer der

    <i style="position: absolute; bottom: 0; left: 15%;">Oplever du problemer med hjemmesidens systemer bedes du kontakte TESTTECH på vores telefonnummer: 89328303 eller vores E-mail: TESTTECH@hotmail.com</i>
</div>