@page "/"
<style>
    body {
        background-color: rgb(120,120,120);
    }
</style>
<PageTitle>VelkommenTilMusikfestivalen</PageTitle>

<div class="text-center">
    <h1>Musikfestival</h1>

    Velkommen til Musikfestival hjemmeside for medarbejdere
    <br /><br /><br />

    <img class="image" src="https://cdn.spiir.dk/blog/content/images/2019/04/Danske-festivaler.jpg" />


    <br />
    <h2></h2>
    For mere information omkring brug af hjemmeside, gå til infoside
</div>