@page "/vagtoversigt"

<style>
    body {
        background-color: rgb(255,255,255);
    }
</style>
<table class="table">
    <div class="text-center">
        <h1>Dine vagter</h1>
    </div>
    <thead>
        <tr>
            <th>Dato</th>
            <th>Stilling</th>
            <th>Område</th>
            <th>Tidspunkt</th>

        </tr>
    </thead>
    <tbody>
    </tbody>
</table>