<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FestivalVolunteer</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Startside
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="kalender">
                <span class="oi oi-calendar" aria-hidden="true"></span> Kalender
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="vagtoversigt">
                <span class="oi oi-laptop" aria-hidden="true"></span> Vagtoversigt
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bruger">
                <span class="oi oi-person" aria-hidden="true"></span> Bruger
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="info">
                <span class="oi oi-book" aria-hidden="true"></span> Info
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fordele">
                <span class="oi oi-dollar" aria-hidden="true"></span> Fordele
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}